@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* input[required]+label {
  position: relative;
  left: -17.75rem;
  the negative of the input width
}

input[required]+label:after {
  content: '*';
  color: #FF3131;
}

input[required]:invalid+label {
  display: inline-block;
}

input[required]:valid+label {
  display: none;
} */

.input:not(.unfilled):invalid {
  color: #d50000;
  background: #fff8f8;
  border-color: #d50000;
}

.input:not(.unfilled):invalid::placeholder {
  color: #ffbfbf;
}

#email.filled:invalid {
  color: #56423E;
  background: white;
  border-color: #56423E;
}

#email:not(.filled):invalid {
  color: #d50000;
  background: #fff8f8;
  border-color: #d50000;
}


#email.filled:not(.firstFill)::placeholder {
  color: white;
}

#email:not(.filled):not(.firstFill)::placeholder {
  color:  #ffbfbf;
}

.visible {
  display: flex;
}

#popup {
  background-color: rgba(0, 0, 0, 0.9);
}

#btn_hero {
  transform: perspective(1px) translateZ(0);
}