@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {} */

/* Form elements */
.input:not(.unfilled):invalid {
  color: #d50000;
  background: #fff8f8;
  border-color: #d50000;
}

.input:not(.unfilled):invalid::placeholder {
  color: #ffbfbf;
}

#email.filled:invalid {
  color: #56423E;
  background: white;
  border-color: #56423E;
}

#email:not(.filled):invalid {
  color: #d50000;
  background: #fff8f8;
  border-color: #d50000;
}

#email.filled:not(.firstFill)::placeholder {
  color: white;
}

#email:not(.filled):not(.firstFill)::placeholder {
  color: #ffbfbf;
}

/* Form elements */

.visible {
  display: flex;
}

#popup {
  background-color: rgba(0, 0, 0, 0.9);
}

/*technolgies slider */
[class^="tech-slide"],
[class*=" tech-slide"] {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  max-height: 100vh;
}

.navigation-wrapper {
  position: relative;
  background: rgba(255, 255, 255, 0.6);
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 10px 5px;
  padding: 5px;
  cursor: pointer;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

/* hover:scale-110 transition duration-200 ease-in-out */
.dot:hover {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #FF3131;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #FF3131;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

/* technologies slider */

/* gallery slider */
[class^="img-slide"],
[class*=" img-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  max-height: 400px;
}

.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}

.thumbnail .keen-slider__slide {
  cursor: pointer;
}

.thumbnail .keen-slider__slide.active {
  border: 2px solid #FF3131;
}

/* gallery sldier */